<strong> Olá {{provider}}</strong>

<p>Houve um cancelamento de horário, veja os detalhes abaixo.</p>

<p>
    <strong>Cliente: </strong> {{user}} <br />
    <strong>Data/hora: </strong> {{date}} <br />

    <br />
    <small>
        O horário encontra-se novamente disponível.
    </small>
</p>
